# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
**/loc.py

# Static
/node_modules/
dist
./static/
src/django_template/static/bundles

# Coverage reports
/reports/
/htmlcov/
.coverage
coverage.xml

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.env.dev
.env.prod

# VS code
.vscode

# Miscelaneous
.notes_steps